@using HCMApi;
@using HCM.Data;
@using HCMDataAccess;
@using HCMModels;
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.DropDowns
@using System.ComponentModel.DataAnnotations;

@inject IStringLocalizer<App> Localizer
@inject IFiltersData _filtersData;
@inject ILocalStorageService storageService
@inject ICaseContact _caseContact;
@inject ICMSProfile _CMSProfile;

@attribute [Authorize]

<h5 class="tLabel bottom_blue_bg">@_CMSProfileModel?.profileName</h5>

<h5 class="tLabel bottom_blue_bg">@Localizer["Profile_Step_Allgemeine"]</h5>

<div class="col-sm-12 form-inline control_padding">
    <label class="col-sm-3 control_padding mylabel-left profilWizadrdText">@Localizer["Profile_ProfileName"]</label>
    <div class="col-sm-5 control_padding profilWizadrdText">@_CMSProfileModel?.profileName</div>
</div>
<div class="col-sm-12 form-inline control_padding">
    <label class="col-sm-3 control_padding mylabel-left profilWizadrdText">@Localizer["Profile_Platform"]</label>
    <div class="col-sm-5 control_padding profilWizadrdText">@_CMSProfileModel?.appName</div>
</div>
<div class="col-sm-12 form-inline control_padding">
    <label class="col-sm-3 control_padding mylabel-left profilWizadrdText">@Localizer["Profile_Email_Language"]</label>
    <div class="col-sm-5 control_padding profilWizadrdText">@_CMSProfileModel?.EmailLanguage</div>
</div>
<div class="col-sm-12 form-inline control_padding">
    <label class="col-sm-3 control_padding mylabel-left profilWizadrdText">@Localizer["Profile_Description"]</label>
    <div class="col-sm-5 control_padding profilWizadrdText">@_CMSProfileModel?.profilDescr</div>
</div>

<div class="row">
    <br />
</div>
<h5 class="tLabel bottom_blue_bg">@Localizer["Profile_Step_Teilnehmen"]</h5>

<SfGrid DataSource="@_CMSProfileModel?.profileParticipants" AllowPaging="false" AllowResizing="false" AllowTextWrap="true">
    <GridPageSettings PageSize="25"></GridPageSettings>
    <GridColumns>
        <GridColumn Field=@nameof(CaseContact.Name) HeaderText="@Localizer["Cases_ChangeUsers_List_Name"]" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="80"></GridColumn>
        <GridColumn Field=@nameof(CaseContact.Email) HeaderText="@Localizer["Cases_ChangeUsers_List_Email"]" Width="150"></GridColumn>
        <GridColumn Field=@nameof(CaseContact.Function) HeaderText="@Localizer["Cases_ChangeUsers_List_Function"]"></GridColumn>
        <GridColumn Field=@nameof(CaseContact.ProfileRole) HeaderText="@Localizer["Cases_ChangeUsers_List_Role"]" Width="150"></GridColumn>

    </GridColumns>
</SfGrid>

<div class="row">
    <br />
</div>
<div class="row row_padding">
    <div class="col-sm-3 control_padding">
        <SfCheckBox @bind-Checked="@NotifyAllChecked" Label="@Localizer["Profile_Step2_cbNotifyAll"]" TChecked="bool" Disabled="true"></SfCheckBox>
    </div>
</div>

<div class="row">
    <br />
</div>
<h5 class="tLabel bottom_blue_bg">@Localizer["Profile_Step_Escalation"]</h5>
<h4 class="tLabel">@Localizer["Profile_Step_Escalation_RuleList"]</h4>
<SfGrid DataSource="@_CMSProfileModel?.escalationRules" AllowPaging="false" AllowResizing="false" AllowTextWrap="true">
    <GridPageSettings PageSize="25"></GridPageSettings>
    <GridColumns>
        <GridColumn Field=@nameof(CaseRule.CaseStatusName) HeaderText="@Localizer["Profile_Step_Escalation_RuleList_Name"]" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="80"></GridColumn>
        <GridColumn Field=@nameof(CaseRule.CaseStatusDays) HeaderText="@Localizer["Profile_Step_Escalation_RuleList_Days"]" Width="150"></GridColumn>
    </GridColumns>
</SfGrid>
<div class="row">
    <br />
</div>
<h4 class="tLabel">@Localizer["Profile_Step_Escalation_List"]</h4>
<SfGrid DataSource="@_CMSProfileModel?.escalationUsers" AllowPaging="false" AllowResizing="false" AllowTextWrap="true">
    <GridPageSettings PageSize="25"></GridPageSettings>
    <GridColumns>
        <GridColumn Field=@nameof(CaseContact.Name) HeaderText="@Localizer["Cases_ChangeUsers_List_Name"]" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="80"></GridColumn>
        <GridColumn Field=@nameof(CaseContact.Email) HeaderText="@Localizer["Cases_ChangeUsers_List_Email"]" Width="150"></GridColumn>
        <GridColumn Field=@nameof(CaseContact.Function) HeaderText="@Localizer["Cases_ChangeUsers_List_Devision"]"></GridColumn>
        <GridColumn Field=@nameof(CaseContact.ProfileRole) HeaderText="@Localizer["Cases_ChangeUsers_List_Role"]" Width="150"></GridColumn>

    </GridColumns>
</SfGrid>

<div class="row">
    <br />
</div>
<h5 class="tLabel bottom_blue_bg">@Localizer["Profile_Step_Status"]</h5>
<h4 class="tLabel">@_CMSProfileModel?.profileStatus</h4>

@code {
    [Parameter]
    public EventCallback<int> OnChangeFormClick { get; set; }

    HCMApi.Models.CMSProfileModel _CMSProfileModel;
    public bool NotifyAllChecked { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        var ProfileStatusInfo = await storageService.GetItemAsync<StatusProfileModel>("ProfileStatusInfo");
        if (ProfileStatusInfo.cmsProfile != null)
        {
            _CMSProfileModel = ProfileStatusInfo.cmsProfile;
            NotifyAllChecked = _CMSProfileModel.NotifyAllProfileParticipants;
        }

    }
}
