<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hit Case Manager</title>

    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link href="~/css/siteV1.css" rel="stylesheet" />

</head>
<body>
     <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top">
        <div class="container-fluid">
             <div class="col-sm-12">
                <a class="navbar-brand" href="~/">
                    <img alt="SAPPER H.C.M." src="/images/SAPPER-CLOUD_logo.png" width="200">
                </a>
            </div>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        
        <footer class="footer border-top text-muted fixed-bottom bg-light container-fluid">
            <div class="row">
                <div class="col">&copy; @DateTime.Now.Year &nbsp;<a href="https://sapper.de" target="_blank">SAPPER</a></div>
                <div class="col text-right">v @typeof(HCM.Pages.LoginModel).Assembly.GetName().Version</div>
            </div>
        </footer>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.js"></script>
        
    

    @RenderSection("Scripts", required: false)
</body>
</html>
