@using HCMApi

@if(Source != null)
{
    <div class="container-fluid mb-5">
        
        @*event header*@ 
        <div class="row">
            <div class="col-6 itemDetail2">
                @Localizer["event_" + Source.eventID?.Replace(".", "_")]
            </div>
            <div class="col-6 itemDetail text-right">
                @Source.CreateDate
            </div>
         </div>
         <div class="col-12 top_blue_bg_thin"></div>

         <div class="row">
            <div class="col-12 itemDetail text-right">
                @Source.ContactName
            </div>
        </div>
        
        @*event text*@
        <div class="row col-12  itemDetail">
            @Source.CaseEventText?.Replace("\n", "<br>")
        </div>

        @*notification mail list*@
        <CaseEventNotifyList XmlNotifyList="@Source.CaseEventNotifyContacts"></CaseEventNotifyList>

        @*attached doc list*@
        <CaseEventDocList XmlDocList="@Source.CaseEventData"></CaseEventDocList>

        @*added participant list*@
        @if(Source.eventID == "cms.participantschanged")
        {
            <CaseEventParticipList XmlParticipList="@Source.CaseEventData"></CaseEventParticipList>   
        }
        

    </div>  
}

        

    
         


@code {

    [Inject] private IStringLocalizer<App> Localizer { get; set; }

    [Parameter] public CaseEvent Source { get; set; }

   
    protected override void OnParametersSet()
    {
        base.OnParametersSet();

       

    }
}
