                 
@using HCMDataAccess
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Logging
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Lists
@using Syncfusion.Blazor.Navigations
@using System.Security.Claims
@using HCMApi
@using System.Globalization
@using AutoMapper
@using HCM.Pages.admin.profiles.Shared



@if (ShowModal)
{
    @if (_loadingStatus == 0)
    {
        <p><em>Loading...</em></p>
    }
    @if (_loadingStatus == 1)
    {
        <SfDialog Width="750px" ShowCloseIcon="true" IsModal="true" AllowDragging="true" EnableResize="false" @bind-Visible="@ShowModal">
            <DialogEvents OnClose="@CloseDialog" ></DialogEvents>
            <DialogTemplates>
                <Header>
                    <div class="tLabel">@Localizer.Str["Profile_Title"] (@ProfileVM.CurrentProfile.profileName)</div>
                </Header>
                <Content>                    
                    <SfTab @ref="Tab" LoadOn="ContentLoad.Dynamic" CssClass="itemDetail e-small">
                        <TabItems>
                            <TabItem>
                                <HeaderTemplate>@Localizer.Str["Profile_Step_Allgemeine"]</HeaderTemplate>
                                <ContentTemplate>
                                    <div class="m-3 mt-5">
                                        <ProfileGeneralTab ViewModel="ProfileVM" OnFormSaved="GenInfoSaved"></ProfileGeneralTab>
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem >
                                <HeaderTemplate>@Localizer.Str["Profile_Step_Teilnehmen"]</HeaderTemplate>
                                <ContentTemplate>
                                    <div class="m-3 mt-5">
                                        <ProfileContactsTab ViewModel="ProfileVM" OnFormSaved="ContactsSaved"></ProfileContactsTab>
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem >
                                <HeaderTemplate>@Localizer.Str["Profile_Step_Escalation"]</HeaderTemplate>
                                <ContentTemplate>
                                    <div class="m-3 mt-5">
                                        <ProfileEscalationTab ViewModel="ProfileVM" OnFormSaved="EscalationSaved"></ProfileEscalationTab>
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem >
                                <HeaderTemplate>@Localizer.Str["Profile_Step_AllView"]</HeaderTemplate>
                                <ContentTemplate>
                                    <div class="m-3 mt-5">
                                        <ProfileOverviewTab ViewModel="ProfileVM"></ProfileOverviewTab>
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                        </TabItems>
                    </SfTab>
                    
                    <UiMessageBox Data="Messages.List" />                    
                </Content>
            </DialogTemplates>
        </SfDialog>        
    }
}




@code {

    [Inject] private ILogger<AddProfilePopUp> _logger { get; set; }
    [Inject] private CommonLocalizationService Localizer { get; set; }
    [Inject] private IMapper _mapper { get; set; }


    [CascadingParameter(Name = "CurrentContactId")] protected int CurrentContactId { get; set; }
    [Parameter] public ProfileWizardVM ProfileVM { get; set; }
    [Parameter] public bool ShowModal { get; set; }
    [Parameter] public EventCallback<bool> ShowModalChanged { get; set; }
    [Parameter] public EventCallback OnDialogClosed { get; set; }


    protected UiMessages Messages { get; set; }
    protected SfTab Tab;
    private int _loadingStatus;



    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Messages = new UiMessages();

        try
        {
            _loadingStatus = 0;
            if(ProfileVM == null )
            {               
                throw new ArgumentNullException("CurrentProfile");
            }
            _loadingStatus = 1;
        }
        catch (Exception ex)
        {                        
            _logger.LogError(ex.Message);
            _logger.LogDebug(ex, ex.Message);
            Messages.AddError(@Localizer.Str["MsgPanel_Error_Title"],ex.Message, showDetail: true);
            _loadingStatus = 2;
        }
    }


    public async Task CloseDialog()
    {
        ShowModal = false;
        await ShowModalChanged.InvokeAsync(ShowModal);
        await OnDialogClosed.InvokeAsync();
    }


    protected void GenInfoSaved()
    {        
        Tab.Select(1);
    }

    protected async Task ContactsSaved()
    {
        await Tab.Select(2);
        await ProfileVM.StatusUpdate(0, CurrentContactId);
    }

    protected void EscalationSaved()
    {        
        Tab.Select(3);
    }
    
}
