@page "/admin/profiles/ProfileList"
@attribute [Authorize(Roles = "admin,profile")]

@using HCMApi;
@using HCMApi.Models
@using HCMDataAccess;
@using HCMModels;
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.DropDowns
@using System.Globalization


<h3>@Localizer.Str["Profile_List_Title"]</h3>

<div class="blue_bg"></div>
<h5>@Localizer.Str["Profile_List"]</h5>
@if (!showlDeleted)
{
    <div class="alink itemDetail" @onclick="@(() => showlDeleted = !showlDeleted)" >    
        <span class="oi oi-plus"></span> @Localizer.Str["Profile_DeleteProfile"] 
    </div>
}    
                             


@if (_loadingStatus == 0)
{
    <p><em>Loading...</em></p>
}

@if (_loadingStatus == 1)
{
    <div class="text-end mb-3">
        <SfButton @onclick="@(() => AddProfile())" IsPrimary="true" Content="@Localizer.Str["Profile_CreateNew"]" ></SfButton>
    </div>

    <SfGrid @ref="DefaultGrid" DataSource="@ProfileList" 
        AllowPaging="true" AllowResizing="false" AllowTextWrap="true" 
        ID="PrimGrid" EnablePersistence="true"
        AllowSorting="true">

        <GridEvents TValue="CMSProfileModel" DataBound="DataBoundHandler"></GridEvents> 
        <GridTextWrapSettings WrapMode="WrapMode.Content"></GridTextWrapSettings>       
        <GridPageSettings PageSizes="@pageSizes" PageSize="20" PageCount="3"></GridPageSettings>
        <GridSortSettings>
            <GridSortColumns>
                <GridSortColumn Field="profileID" Direction="SortDirection.Descending"></GridSortColumn>
            </GridSortColumns>
        </GridSortSettings>

        <GridColumns>
            <GridColumn Field=@nameof(CMSProfileModel.profileID) IsPrimaryKey="true" HeaderText="@Localizer.Str["Profile_ProfileID"]" Width="100">
                <Template>
                    @{
                        var _profile = (context as CMSProfileModel);
                        <div>
                             <div class="alink"  @onclick="@(() => EditProfile(_profile))"><span class="oi oi-zoom-in"></span> @_profile.profileID</div>                             
                        </div>
                    }
                </Template>
            </GridColumn>            
            <GridColumn Field=@nameof(CMSProfileModel.profileName) HeaderText="@Localizer.Str["Profile_ProfileName"]" Width="300"></GridColumn>            
            <GridColumn Field=@nameof(CMSProfileModel.profileStatus) HeaderText="@Localizer.Str["Profile_ProfileStatus"]" Width="120">
                <Template>
                @{
                    var _profile = (context as CMSProfileModel);
                    
                    <div>
                        @if(_profile.profileStatusID == 2)
                        {
                            @Localizer.Str["Profile_Status_" + _profile.profileStatusID.ToString()]
                        }
                        else
                        {
                            bool IsChecked = _profile.profileStatusID == 1;
                            string Action = IsChecked ? "InActive" : "Active";
                            <SfCheckBox 
                                Checked="_profile.profileStatusID == 1" 
                                @onchange="@(() => ChangeStatus(_profile,Action))"></SfCheckBox>
                        }
                        
                        
                    </div>                     
                }
                </Template>
            </GridColumn>

            <GridColumn HeaderText="" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Width="220" >
                <Template>
                    @{
                        var _profile = (context as CMSProfileModel);
                        <div>
                            @if (_profile.profileStatusID == 0 || _profile.profileStatusID == 1)
                            {   
                                <span class="alink" @onclick="@(() => CopyProfile(_profile))">
                                    <span class="oi oi-fork"></span> @Localizer.Str["Value_Copy_Text"]
                                </span>
                                <span> </span>

                            }
                                                  
                             <a href="" @onclick="@(() => ChangeStatus(_profile, "Deleted"))" @onclick:preventDefault><span class="oi oi-trash"></span> @Localizer.Str["Button_Del"]</a>
                        </div>
                    }
                </Template>
            </GridColumn>
        </GridColumns>
    </SfGrid>

    @if (showlDeleted)
    {
        <div class="py-3"></div>        
        <h5>@Localizer.Str["Profile_Delete_List"]</h5>
        <div class="alink itemDetail" @onclick="@(() => showlDeleted = !showlDeleted)">                          
            <span class="oi oi-minus"></span> @Localizer.Str["Profile_DeleteProfile_hide"]                
        </div>
        <div class="py-2"></div>

        <SfGrid DataSource="@DeletedProfileList" AllowPaging="true" AllowResizing="false" AllowTextWrap="true"  AllowSorting="true" >
            <GridTextWrapSettings WrapMode="WrapMode.Content"></GridTextWrapSettings> 
            <GridPageSettings PageSizes="@pageSizes" PageSize="20" PageCount="3"></GridPageSettings>
            <GridSortSettings>
                <GridSortColumns>
                    <GridSortColumn Field="profileID" Direction="SortDirection.Descending"></GridSortColumn>
                </GridSortColumns>
            </GridSortSettings>
            <GridColumns>
                <GridColumn Field=@nameof(CMSProfileModel.profileID) HeaderText="@Localizer.Str["Profile_ProfileID"]" Width="100">
                    <Template>
                    @{
                        var _profile = (context as CMSProfileModel);
                        <div>
                             <div class="alink"  @onclick="@(() => ShowProfile(_profile))"><span class="oi oi-zoom-in"></span> @_profile.profileID</div>                             
                        </div>
                    }
                </Template>
                </GridColumn>                
                <GridColumn Field=@nameof(CMSProfileModel.profileName) HeaderText="@Localizer.Str["Profile_ProfileName"]" Width="300"></GridColumn>            
                <GridColumn Field=@nameof(CMSProfileModel.profileStatus) HeaderText="@Localizer.Str["Profile_ProfileStatus"]" Width="120">
                     <Template>
                     @{
                        var _profile = (context as CMSProfileModel);
                    
                        <div>@Localizer.Str["Profile_Status_" + _profile.profileStatusID.ToString()]</div>                        
                     
                     }
                     </Template>
                </GridColumn>
                <GridColumn HeaderText=""  TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Width="220">
                    <Template>
                        @{
                            var _profile = (context as CMSProfileModel);
                            <div>
                                 <span class="alink" @onclick="@(() => CopyProfile(_profile))">
                                    <span class="oi oi-fork"></span> @Localizer.Str["Value_Copy_Text"]
                                </span>
                            </div>
                        }
                    </Template>
                </GridColumn>                
            </GridColumns>
        </SfGrid> 
    }
    

}

<UiMessageBox Data="Messages.List" />



@if (showAddProfilePopUp)
{
    <AddProfilePopUp @bind-ShowModal="showAddProfilePopUp" 
        ProfileVM="@ProfileVM" 
        OnDialogClosed=@LoadProfileList>
    </AddProfilePopUp> 
}

@if (showEditProfilePopUp)
{
    <EditProfilePopUp @bind-ShowModal="showEditProfilePopUp" 
        ProfileVM="@ProfileVM" 
        OnDialogClosed=@LoadProfileList>
    </EditProfilePopUp> 
}

@if (showViewProfilePopUp)
{
    <ViewProfilePopUp @bind-ShowModal="showViewProfilePopUp" 
        ProfileVM="@ProfileVM">
    </ViewProfilePopUp> 
}

@if (showStatusChangePopUp)
{
    <StatusChangePopUp @bind-ShowModal="showStatusChangePopUp" 
        ProfileVM="@ProfileVM" 
        NewStatus = "@NewStatusName"
        OnDialogClosed=@LoadProfileList>
    </StatusChangePopUp> 
}

@code {
    [Inject] private ProfileWizardVM ProfileVM { get; set; }
    [Inject] private ICMSProfile ProfileService { get; set; }
    [Inject] private ILogger<ProfilePage> _logger { get; set; }
    [Inject] private CommonLocalizationService Localizer { get; set; }
    [Inject] private ISyncfusionStringLocalizer SfLocalizer { get; set; }

    [CascadingParameter(Name = "CurrentContactId")] protected int CurrentContactId { get; set; }

    protected UiMessages Messages { get; set; }
    protected List<CMSProfileModel> ProfileList { get; set; }
    protected List<CMSProfileModel> DeletedProfileList { get; set; }

    protected CMSProfileModel CurrentProfile { get; set; }
    protected string NewStatusName { get; set; }
    protected bool showAddProfilePopUp { get; set; }
    protected bool showEditProfilePopUp { get; set; }
    protected bool showViewProfilePopUp { get; set; }
    protected bool showStatusChangePopUp { get; set; }
    protected bool showlDeleted { get; set; }
    private int _loadingStatus;
    private SfGrid<CMSProfileModel> DefaultGrid;
    private SfGridPosition currentGridPosition { get; set; }

    private int currentPage = 1;
    private bool repositionRequired;
    private double selectedRow { get; set; }
    private string[] pageSizes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();       
        Messages = new UiMessages();
        currentGridPosition = new SfGridPosition();       

        await LoadProfileList();
        SetPageSizeDropDown();
    }


    private async Task LoadProfileList()
    {
        _loadingStatus = 0;
        try
        {
            ProfileList = await ProfileService.GetList(null, null);           
            DeletedProfileList = await ProfileService.GetDeleteList(null);
            _loadingStatus = 1;
        }
        catch (Exception ex)
        {                        
            _logger.LogError(ex.Message);
            _logger.LogDebug(ex, ex.Message);
            Messages.AddError(@Localizer.Str["MsgPanel_Error_Title"],ex.Message);

            _loadingStatus = 2;
        }       
    }

    private async Task AddProfile()
    {
        try
        {
            await ProfileVM.AddNewProfileAsync(CurrentContactId, null, null, CultureInfo.CurrentCulture.Name);

            await DefaultGrid.SortColumnAsync("profileID", SortDirection.Descending);
            currentGridPosition.PageNr = 1;
            currentGridPosition.RowIndex = 0;
            repositionRequired = true;

            showAddProfilePopUp = true;
        }
        catch (Exception ex)
        {                        
            _logger.LogError(ex.Message);
            _logger.LogDebug(ex, ex.Message);
            Messages.AddError(@Localizer.Str["MsgPanel_Error_Title"],ex.Message);
        }  
    }

    private async Task EditProfile(CMSProfileModel profile)
    {
        try
        {
            currentGridPosition.PageNr = DefaultGrid.PageSettings.CurrentPage;
            currentGridPosition.RowIndex = await DefaultGrid.GetRowIndexByPrimaryKey(profile.profileID);
            repositionRequired = true;


            ProfileVM.LoadProfile(profile.profileID);
            showEditProfilePopUp = true;
        }
        catch (Exception ex)
        {                        
            _logger.LogError(ex.Message);
            _logger.LogDebug(ex, ex.Message);
            Messages.AddError(@Localizer.Str["MsgPanel_Error_Title"],ex.Message);
        } 

    }

    private void ShowProfile(CMSProfileModel profile)
    {
        try
        {
            ProfileVM.LoadProfile(profile.profileID);
            showViewProfilePopUp = true;
        }
        catch (Exception ex)
        {                        
            _logger.LogError(ex.Message);
            _logger.LogDebug(ex, ex.Message);
            Messages.AddError(@Localizer.Str["MsgPanel_Error_Title"],ex.Message);
        } 

    }

    private async Task CopyProfile(CMSProfileModel profile)
    {
        try
        {
            await ProfileVM.CopyProfileAsync(profile.profileID, CurrentContactId);

            await DefaultGrid.SortColumnAsync("profileID", SortDirection.Descending);
            currentGridPosition.PageNr = 1;
            currentGridPosition.RowIndex = 0;
            repositionRequired = true;

            showEditProfilePopUp = true;
        }
        catch (Exception ex)
        {                        
            _logger.LogError(ex.Message);
            _logger.LogDebug(ex, ex.Message);
            Messages.AddError(@Localizer.Str["MsgPanel_Error_Title"],ex.Message);
        } 
    }

    private async Task ChangeStatus(CMSProfileModel profile, string newStatus)
    {
        currentGridPosition.PageNr = DefaultGrid.PageSettings.CurrentPage;
        currentGridPosition.RowIndex = await DefaultGrid.GetRowIndexByPrimaryKey(profile.profileID);
        repositionRequired = true;

        ProfileVM.LoadProfile(profile.profileID);
        NewStatusName = newStatus;
        showStatusChangePopUp = true;
    }

    private async Task DataBoundHandler(object args)
    {       
        if(repositionRequired)
        {
            await DefaultGrid.GoToPage(currentGridPosition.PageNr);
            await DefaultGrid.SelectRow(currentGridPosition.RowIndex);
            repositionRequired = false;
        }

    }

    private void SetPageSizeDropDown()
    {
        List<string> pageList = new List<string>();
        pageList.Add(@SfLocalizer.GetText("Pager_All"));
        pageList.Add("10");
        pageList.Add("20");
        pageList.Add("50");
        pageList.Add("100");
        pageSizes = pageList.ToArray();
    }

}
