                 
@using HCMDataAccess
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Logging
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Lists
@using Syncfusion.Blazor.Navigations
@using System.Security.Claims
@using HCMApi
@using HCMApi.Models
@using System.Globalization
@using AutoMapper
@using HCM.Pages.admin.profiles.Shared



@if (ShowModal)
{
    @if (_loadingStatus == 0)
    {
        <p><em>Loading...</em></p>
    }
    @if (_loadingStatus == 1)
    {
        <SfDialog Width="750px" ShowCloseIcon="true" IsModal="true" AllowDragging="false" EnableResize="false" @bind-Visible="@ShowModal">
            <DialogEvents OnClose="@CloseDialog" ></DialogEvents>
            <DialogTemplates>
                <Header>
                    <div class="ml-4 font-weight-bold">@Localizer.Str["Profile_Title"] (@ProfileVM.CurrentProfile.profileName)</div>
                </Header>
                <Content>

                    <SfTab SelectedItemChanged="OnTabChanged" @ref="Tab" LoadOn="ContentLoad.Dynamic">
                        <TabItems>
                            <TabItem >
                                <HeaderTemplate>@Localizer.Str["Profile_Step_AllView"]</HeaderTemplate>
                                <ContentTemplate>
                                    <ProfileOverviewTab ViewModel="ProfileVM"></ProfileOverviewTab>
                                </ContentTemplate>
                            </TabItem>                           
                        </TabItems>
                    </SfTab>

                    <div class="py-3">
                        <UiMessageBox Data="Messages.List" />
                    </div>


                </Content>
            </DialogTemplates>
        </SfDialog>

        <style>
            .e-dialog.e-control.e-popup, .e-dialog.e-control.e-popup .e-dlg-header-content {
                background-color: lightblue;
            }
        </style>
    }

}




@code {

    [Inject] private ILogger<EditProfilePopUp> _logger { get; set; }
    [Inject] private CommonLocalizationService Localizer { get; set; }
    [Inject] private IMapper _mapper { get; set; }


    [CascadingParameter(Name = "CurrentContactId")] protected int CurrentContactId { get; set; }
    [Parameter] public ProfileWizardVM ProfileVM { get; set; }
    [Parameter] public bool ShowModal { get; set; }
    [Parameter] public EventCallback<bool> ShowModalChanged { get; set; }
    [Parameter] public EventCallback OnDialogClosed { get; set; }


    protected UiMessages Messages { get; set; }
    protected SfTab Tab;
    private int _loadingStatus;



    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Messages = new UiMessages();

        try
        {
            _loadingStatus = 0;
            if(ProfileVM == null )
            {               
                throw new ArgumentNullException("CurrentProfile");
            }
            _loadingStatus = 1;
        }
        catch (Exception ex)
        {                        
            _logger.LogError(ex.Message);
            _logger.LogDebug(ex, ex.Message);
            Messages.AddError(@Localizer.Str["MsgPanel_Error_Title"],ex.Message, showDetail: true);
            _loadingStatus = 2;
        }
    }


    public async Task CloseDialog()
    {
        ShowModal = false;
        await ShowModalChanged.InvokeAsync(ShowModal);
        await OnDialogClosed.InvokeAsync();
    }


    protected void FormSaved()
    {        
        Messages.AddInfo(@Localizer.Str["Form_Saved"]);
    }

    protected void OnTabChanged(int TabId)
    {
        Messages.List.Clear();
    }

    
}
