@page "/case/details"

@using Syncfusion.Blazor.Popups
@using System.IO
@using Options

@inject IStringLocalizer<App> Localizer
@inject CMSSettings cmsSettings

@attribute [Authorize]

<h3>@Localizer["Cases_Detail_Title"]</h3>

<div class="container">
    <div class="row row_padding">
        <div class="col-sm-2 control_padding">
            <div class="col-sm-12 row row_padding">
                <h5 class="tLabel bottom_blue_bg col-sm-12">@Localizer["Cases_Detail_Actions"]</h5>
            </div>

            <div class="col-sm-12 row row_padding">
                <a href="" @onclick="@(() => AddMessageDialogSetStatus())" @onclick:preventDefault class="btnAddMessage">@Localizer["Cases_Detail_Action_AddMessage"]</a>
            </div>
            <div class="col-sm-12 row row_padding">
                <a href="" @onclick="@(() => AddUserDialogSetStatus())" @onclick:preventDefault class="btnAddUser">@Localizer["Cases_Detail_Action_AddUser"]</a>
            </div>
            <div class="col-sm-12 row row_padding">
                <a href="" @onclick="@(() => ChangeStatusDialogSetStatus())" @onclick:preventDefault class="btnUpdate">@Localizer["Cases_Detail_Action_ChangeStatus"]</a>
            </div>
            <div class="col-sm-12 row row_padding">
                <a href="" @onclick="@(() => AddAliasDialogSetStatus())" @onclick:preventDefault class="btnAddAlias">@Localizer["Cases_Detail_Action_AddAlias"]</a>
            </div>


        </div>
        <div class="col-sm-7  control_padding">
            @*-------------------------- Subject ----------------------------------*@
            <div class="col-sm-12 row row_padding">
                <h5 class="tLabel bottom_blue_bg col-sm-12">@Localizer["Cases_Detail_Label_Subject"]</h5>
            </div>
            <div class="col-sm-12 row">
                <div class="col-sm-12 itemDetail">
                    aus SAP ID1 KM DEFAULT Variante
                </div>
            </div>
            <div class="col-sm-12 row">
                &nbsp;
            </div>

            @*-------------------------- AttachInformation ----------------------------------*@
            <div class="col-sm-12 row row_padding">
                <h5 class="tLabel bottom_blue_bg col-sm-12">@Localizer["Cases_Detail_Label_AttachInformation"]</h5>
            </div>
            <div class="col-sm-12 row">
                <div class="col-sm-12 itemDetail">
                    ALFA Trading GmbH
                </div>
            </div>
            <div class="col-sm-12 row">
                <div class="col-sm-12 itemDetail">
                    DENIED PARTIES Trefferbericht
                </div>
            </div>
            <div class="col-sm-12 row">
                &nbsp;
            </div>

            @*-------------------------- History ----------------------------------*@
            <div class="col-sm-12 row row_padding">
                <h5 class="tLabel bottom_blue_bg col-sm-12">@Localizer["Cases_Detail_Label_History"]</h5>
            </div>

            <div class="col-sm-12 row">
                <div class="col-sm-12 row_padding_left">
                    <div class="col-sm-12 row  bottom_line_bg">
                        <div class="col-sm-6 itemDetail2">
                            in Bearbeitung
                        </div>
                        <div class="col-sm-3 itemDetail">
                            26.04.2021 10:50:23
                        </div>
                        <div class="col-sm-3 itemDetail">
                            SI Administrator
                        </div>
                    </div>
                    <div class="col-sm-12 row itemDetail">
                        Case geöffnet
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-3 control_padding">
            <div class="col-sm-12 row row_padding">
                <h5 class="tLabel bottom_blue_bg col-sm-12">@Localizer["Cases_Detail_Label_AttachInformation"]</h5>
            </div>


            <div class="col-sm-12 itemDetail row row_padding">
                <div class="col-sm-6">
                    @Localizer["Cases_Detail_Label_ProfileName"]
                </div>
                <div>

                </div>
            </div>
            <div class="col-sm-12 itemDetail row row_padding">
                <div class="col-sm-6">
                    @Localizer["Cases_Detail_Label_ID"]
                </div>
                <div>

                </div>
            </div>
            <div class="col-sm-12 itemDetail row row_padding">
                <div class="col-sm-6">
                    @Localizer["Cases_Detail_Label_Platform"]
                </div>
                <div>

                </div>
            </div>
            <div class="col-sm-12 itemDetail row row_padding">
                <div class="col-sm-6">
                    @Localizer["Cases_Detail_Label_Category"]
                </div>
                <div>

                </div>
            </div>
            <div class="col-sm-12 itemDetail row row_padding">
                <div class="col-sm-6">
                    @Localizer["Cases_Detail_Label_Source"]
                </div>
                <div>

                </div>
            </div>
            <div class="col-sm-12 itemDetail row row_padding">
                <div class="col-sm-6">
                    @Localizer["Cases_Detail_Label_Status"]
                </div>
                <div>

                </div>
            </div>
            <div class="col-sm-12 itemDetail row row_padding">
                <div class="col-sm-6">
                    @Localizer["Cases_Detail_Label_Result"]
                </div>
                <div>

                </div>
            </div>
            <div class="col-sm-12 itemDetail row row_padding">
                <div class="col-sm-6">
                    @Localizer["Cases_Detail_Label_CreateOn"]
                </div>
                <div>

                </div>
            </div>
            <div class="col-sm-12 itemDetail row row_padding">
                <div class="col-sm-6">
                    @Localizer["Cases_Detail_Label_CreateBy"]
                </div>
                <div>

                </div>
            </div>
            <div class="col-sm-12 itemDetail row row_padding">
                <div class="col-sm-6">
                    @Localizer["Cases_List_User"]
                </div>
                <div>

                </div>
            </div>
            <div class="col-sm-12 itemDetail row row_padding">
                <div class="col-sm-6">
                    @Localizer["Cases_Detail_Label_LastModifyOn"]
                </div>
                <div>

                </div>
            </div>
            <div class="col-sm-12 itemDetail row row_padding">
                <div class="col-sm-6">
                    @Localizer["Cases_Detail_Label_LastModifyBy"]
                </div>
                <div>

                </div>
            </div>
            <div class="col-sm-12 itemDetail row row_padding">
                <div class="col-sm-6">
                    @Localizer["Cases_Detail_Label_Duration"]
                </div>
                <div>

                </div>
            </div>


            <div class="col-sm-12 row row_padding">
                <h5 class="tLabel bottom_line_bg col-sm-12">@Localizer["Cases_Detail_Label_ProfileUsers"]</h5>
            </div>

            <div class="col-sm-12 row row_padding">
                <h5 class="tLabel bottom_line_bg col-sm-12">@Localizer["Cases_Detail_Label_EscalationUsers"]</h5>
            </div>

            <div class="col-sm-12 row row_padding">
                <h5 class="tLabel bottom_line_bg col-sm-12">@Localizer["Cases_Detail_Label_Users"]</h5>
            </div>
        </div>
    </div>

</div>


<SfDialog @ref="NewNoteDialogID" ShowCloseIcon="true" Width="800px" Height="500px" IsModal="true" @bind-Visible="NewNoteDialogVisibility">
    <DialogTemplates>
        <Header>
            <h3 class="title">@Localizer["Cases_AddMessage_Title"]</h3>
        </Header>
        <Content>
            <div class="dialogContent">
                <table width="75%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="tLabel2" width="15%" align="left" valign="top">@Localizer["Cases_AddMessage_Subject"]:</td>
                        <td class="tLabel3" width="85%" align="left" valign="top"></td>
                    </tr>
                </table>
                <br />

                <table width="98%" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                        <td class="tLabel2">@Localizer["Cases_AddMessage_Note"]</td>
                        <td width="20px" valign="top">
                        </td>
                        <td class="tLabel2 bottom_line_bg">@Localizer["Cases_AddMessage_NotifyUsers"]</td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <SfTextBox @ref="tSubject" CssClass="e-custom-height" Multiline="true" Value="@tSubjectValue">
                            </SfTextBox>
                            <br /><br />
                            <SfCheckBox @bind-Checked="AddReportToEmailIsChecked" Label="@Localizer["Cases_AddMessage_AddReport"]" ValueChange="@AddReportToEmail_OnChange" TChecked="bool"></SfCheckBox>
                            <br /><br />

                            <SfUploader AutoUpload="false" Locale="de">
                                <UploaderEvents ValueChange="UploaderOnChange"></UploaderEvents>
                            </SfUploader>
                        </td>
                        <td width="20px" valign="top">
                        </td>
                        <td width="200px" valign="top">
                        </td>
                    </tr>
                </table>



            </div>
        </Content>


    </DialogTemplates>

    <DialogEvents OnOpen="@NewNoteDialogBeforeOpen"></DialogEvents>

</SfDialog>


@code {
    SfDialog NewNoteDialogID;
    private bool NewNoteDialogVisibility { get; set; } = false;

    SfTextBox tSubject;
    public string tSubjectValue { get; set; }

    private bool AddReportToEmailIsChecked = false;

    private void NewNoteDialogBeforeOpen(BeforeOpenEventArgs args)
    {
        args.MaxHeight = null;
    }

    private async Task AddMessageDialogSetStatus()
    {
        this.NewNoteDialogVisibility = true;
        StateHasChanged();
    }

    private async Task AddUserDialogSetStatus()
    {
        this.NewNoteDialogVisibility = true;
        StateHasChanged();
    }

    private async Task ChangeStatusDialogSetStatus()
    {
        this.NewNoteDialogVisibility = true;
        StateHasChanged();
    }

    private async Task AddAliasDialogSetStatus()
    {
        this.NewNoteDialogVisibility = true;
        StateHasChanged();
    }
    private void AddReportToEmail_OnChange(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> args)
    {
        AddReportToEmailIsChecked = args.Checked;
        StateHasChanged();
    }

    private void UploaderOnChange(Syncfusion.Blazor.Inputs.UploadChangeEventArgs args)
    {
        foreach (var file in args.Files)
        {
            string _filename = DateTime.Now.Year.ToString();
            _filename += DateTime.Now.Month.ToString();
            _filename += DateTime.Now.Day.ToString();
            _filename += DateTime.Now.Hour.ToString();
            _filename += DateTime.Now.Minute.ToString();
            _filename += DateTime.Now.Second.ToString();
            _filename += DateTime.Now.Millisecond.ToString();
            _filename += "_" + Path.GetFileName(file.FileInfo.Name);

            var path = cmsSettings.CmsDocPath + (1).ToString();
            if (!System.IO.Directory.Exists(path))
                System.IO.Directory.CreateDirectory(path);

            FileStream filestream = new FileStream(path + "\\" + _filename, FileMode.Create, FileAccess.Write);
            file.Stream.WriteTo(filestream);
            filestream.Close();
            file.Stream.Close();
        }
    }
}
