
@inject IStringLocalizer<App> Localizer
@inject ILocalStorageService storageService;
@inject NavigationManager MyNavigationManager


@attribute [Authorize]


<div class="col-12 control_padding @Menu1CSS">
    <SfButton CssClass="e-link profileLink" OnClick="onMenu1Click">@Localizer["Profile_Step_Allgemeine"]</SfButton>
</div>
<div class="col-12 control_padding @Menu2CSS">
    <SfButton CssClass="e-link profileLink" OnClick="onMenu2Click">@Localizer["Profile_Step_Teilnehmen"]</SfButton>
</div>
<div class="col-12 control_padding @Menu3CSS">
    <SfButton CssClass="e-link profileLink" OnClick="onMenu3Click">@Localizer["Profile_Step_Escalation"]</SfButton>
</div>
<div class="col-12 control_padding @Menu4CSS">
    <SfButton CssClass="e-link profileLink" OnClick="onMenu4Click">@Localizer["Profile_Step_Status"]</SfButton>
</div>
<div class="row">
    <br />
</div>

<div class="col-12 control_padding @Menu5CSS">
    <SfButton CssClass="e-link profileLink" OnClick="onMenu5Click">@Localizer["Profile_Step_AllView"]</SfButton>
</div>


@code {

    [Parameter]
    public EventCallback<int> OnChangeFormClick { get; set; }

    public int Step { get; set; }

    public bool Menu1Disabled = true;
    public string Menu1CSS = "profile-menu-item-normal";
    public bool Menu2Disabled = true;
    public string Menu2CSS = "profile-menu-item-normal";
    public bool Menu3Disabled = true;
    public string Menu3CSS = "profile-menu-item-normal";
    public bool Menu4Disabled = true;
    public string Menu4CSS = "profile-menu-item-normal";
    public bool Menu5Disabled = true;
    public string Menu5CSS = "profile-menu-item-normal";

    protected override async Task OnInitializedAsync()
    {
        var ProfileStatusInfo = await storageService.GetItemAsync<StatusProfileModel>("ProfileStatusInfo");
        Step = ProfileStatusInfo.Step;
        onStepChange();
    }

    private async Task onMenu1Click(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        var ProfileStatusInfo = await storageService.GetItemAsync<StatusProfileModel>("ProfileStatusInfo");
        ProfileStatusInfo.Step = Step = 1;
        await storageService.SetItemAsync("ProfileStatusInfo", ProfileStatusInfo);

        await OnChangeFormClick.InvokeAsync(1);
        onStepChange();
    }
    private async Task onMenu2Click(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        var ProfileStatusInfo = await storageService.GetItemAsync<StatusProfileModel>("ProfileStatusInfo");
        ProfileStatusInfo.Step = Step = 2;
        await storageService.SetItemAsync("ProfileStatusInfo", ProfileStatusInfo);

        await OnChangeFormClick.InvokeAsync(2);
        onStepChange();
    }
    private async Task onMenu3Click(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        var ProfileStatusInfo = await storageService.GetItemAsync<StatusProfileModel>("ProfileStatusInfo");
        ProfileStatusInfo.Step = Step = 3;
        await storageService.SetItemAsync("ProfileStatusInfo", ProfileStatusInfo);

        await OnChangeFormClick.InvokeAsync(3);
        onStepChange();
    }
    private async Task onMenu4Click(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        var ProfileStatusInfo = await storageService.GetItemAsync<StatusProfileModel>("ProfileStatusInfo");
        ProfileStatusInfo.Step = Step = 4;
        await storageService.SetItemAsync("ProfileStatusInfo", ProfileStatusInfo);

        await OnChangeFormClick.InvokeAsync(4);
        onStepChange();
    }
    private async Task onMenu5Click(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        var ProfileStatusInfo = await storageService.GetItemAsync<StatusProfileModel>("ProfileStatusInfo");
        ProfileStatusInfo.Step = Step = 5;
        await storageService.SetItemAsync("ProfileStatusInfo", ProfileStatusInfo);

        await OnChangeFormClick.InvokeAsync(5);
        onStepChange();
    }


    private void onStepChange()
    {
        if (Step == 1)
        {
            Menu1Disabled = false;
            Menu1CSS = "profile-menu-item-while";
            Menu2CSS = "profile-menu-item-normal";
            Menu3CSS = "profile-menu-item-normal";
            Menu4CSS = "profile-menu-item-normal";
            Menu5CSS = "profile-menu-item-normal";
        }
        else if (Step == 2)
        {
            Menu1Disabled = false;
            Menu2Disabled = false;

            Menu1CSS = "profile-menu-item-normal";
            Menu2CSS = "profile-menu-item-while";
            Menu3CSS = "profile-menu-item-normal";
            Menu4CSS = "profile-menu-item-normal";
            Menu5CSS = "profile-menu-item-normal";
        }
        else if (Step == 3)
        {
            Menu1Disabled = false;
            Menu2Disabled = false;
            Menu3Disabled = false;

            Menu1CSS = "profile-menu-item-normal";
            Menu2CSS = "profile-menu-item-normal";
            Menu3CSS = "profile-menu-item-while";
            Menu4CSS = "profile-menu-item-normal";
            Menu5CSS = "profile-menu-item-normal";
        }
        else if (Step == 4)
        {
            Menu1Disabled = false;
            Menu2Disabled = false;
            Menu3Disabled = false;
            Menu4Disabled = false;

            Menu1CSS = "profile-menu-item-normal";
            Menu2CSS = "profile-menu-item-normal";
            Menu3CSS = "profile-menu-item-normal";
            Menu4CSS = "profile-menu-item-while";
            Menu5CSS = "profile-menu-item-normal";
        }
        else if (Step == 5)
        {
            Menu1Disabled = false;
            Menu2Disabled = false;
            Menu3Disabled = false;
            Menu4Disabled = false;
            Menu5Disabled = false;

            Menu1CSS = "profile-menu-item-normal";
            Menu2CSS = "profile-menu-item-normal";
            Menu3CSS = "profile-menu-item-normal";
            Menu4CSS = "profile-menu-item-normal";
            Menu5CSS = "profile-menu-item-while";
        }
        StateHasChanged();
    }
}
