@inject CommonLocalizationService Localizer



<nav class="navbar-expand-md  navbar-dark bg-primdark border-bottom box-shadow mb-3 fixed-top">
    <div class="container-fluid">
         
        <div class="col-md-12">
            <a class="navbar-toggler" @onclick="ToggleNavMenu" type="button">
                <span class="navbar-toggler-icon"></span>
                @*<span class="oi oi-menu" style="color:#000;"></span>*@
            </a>
           <a class="navbar-brand" href="/">
                <img alt="SAPPER H.C.M." src="/images/SAPPER-CLOUD_logo.png" width="200">
            </a>        
           
        </div>

        <div class="col-md-12">
            
            <div class="@NavMenuCssClass" >
                
                <ul class="navbar-nav flex-grow-1">
                    @*<li class="nav-item" @onclick="ToggleNavMenu">
                        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All" @onmousedown="CollapseAllSubMenus">@Localizer.Str["MainMenu_Home"]</NavLink>                            
                    </li>*@
                    <li class="nav-item" @onclick="ToggleNavMenu">
                        <NavLink class="nav-link" href="/Cases"  Match="NavLinkMatch.Prefix" @onmousedown="CollapseAllSubMenus">@Localizer.Str["MainMenu_MyCases"]</NavLink>                            
                    </li>

                    <li class="nav-item" @onclick="ToggleNavMenu">
                        <NavLink class="nav-link" href="/Reports"  Match="NavLinkMatch.Prefix" @onmousedown="CollapseAllSubMenus">@Localizer.Str["MainMenu_Reports"]</NavLink>                            
                    </li>

                     <li class="nav-item">
                        <NavLink class="nav-link" href="/Alias/"  @onclick:preventDefault @onmousedown="ExpandAliasSubMenu" Match="NavLinkMatch.Prefix" >@Localizer.Str["MainMenu_Alias"]</NavLink>                            
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="admin/" @onclick:preventDefault @onmousedown="ExpandAdminSubMenu"  Match="NavLinkMatch.Prefix" >@Localizer.Str["MainMenu_Administration"]</NavLink>                            
                    </li>

                </ul>
            </div>
        </div>


        @if (expandAdmin)
        {
            <div class="col-md-12">
               <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                    <ul class="navbar-nav ml-3 flex-grow-1">
                        <li class="@(NewLocation.Contains("admin/profiles") ? "nav-item-set" : "nav-item")">
                            <NavLink class="nav-link" href="admin/profiles/ProfileList" Match="NavLinkMatch.Prefix">@Localizer.Str["Menu_Profiles"]</NavLink>
                        </li>
                        <li class="@(NewLocation.Contains("admin/users/UserList") ? "nav-item-set" : "nav-item")">
                            <NavLink class="nav-link" href="admin/users/UserList"  Match="NavLinkMatch.Prefix">@Localizer.Str["Menu_Users"]</NavLink>
                        </li>
                        <li class="@(NewLocation.Contains("admin/settings") ? "nav-item-set" : "nav-item")">
                            <NavLink class="nav-link" href="admin/settings"  Match="NavLinkMatch.Prefix">@Localizer.Str["Menu_Settings"]</NavLink>
                        </li>
                    </ul>
               </div>
            </div>

        }
        @if (expandAlias)
        {
            <div class="col-md-12">
               <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="@(NewLocation.Contains("/Alias/List") ? "nav-item-set" : "nav-item")">
                            <NavLink class="nav-link" href="/Alias/List" Match="NavLinkMatch.Prefix">@Localizer.Str["MainMenu_AliasList"]</NavLink>
                        </li>
                        <li class="@(NewLocation.Contains("/Alias/Report") ? "nav-item-set" : "nav-item")">
                            <NavLink class="nav-link" href="/Alias/Report"  Match="NavLinkMatch.Prefix">@Localizer.Str["MainMenu_AliasReport"]</NavLink>
                        </li>                       
                    </ul>
               </div>
            </div>

        }
        <div class="col-md-12 text-right">
            <LoginDisplay />
        </div>
           
    </div>
</nav>


@code {

    bool collapseNavMenu = true;
    bool expandAdmin = false;
    bool expandAlias = false;

    string baseMenuClass = " navbar-collapse d-xl-inline-flex ";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    public string NewLocation { get; set; } = "";


    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void CollapseAllSubMenus()
    {
        expandAdmin = false;
        expandAlias = false;
    }

    void ExpandAdminSubMenu()
    {
        CollapseAllSubMenus();
        expandAdmin = true;
    }

    void ExpandAliasSubMenu()
    {
        CollapseAllSubMenus();
        expandAlias = true;
    }
}
