@inject IStringLocalizer<App> Localizer
@inject NavigationManager MyNavigationManager
@inject AppState _AppState



<nav class="navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top">
    <div class="container-fluid">

        <div class="col-sm-12">
            <img alt="SAPPER H.C.M." src="/images/sapper_logo.jpg">
        </div>

        <div class="col-sm-12">
            <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All" @onmousedown="() => expandAdmin = false">@Localizer["MainMenu_Home"]</NavLink>                            
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/MyCases"  Match="NavLinkMatch.Prefix" @onmousedown="() => expandAdmin = false">@Localizer["MainMenu_MyCases"]</NavLink>                            
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="Reports/DashBoard"  Match="NavLinkMatch.Prefix" @onmousedown="() => expandAdmin = false">@Localizer["MainMenu_Reports"]</NavLink>                            
                    </li>


                    <li class="nav-item">
                        <NavLink class="nav-link" href="admin/" @onclick:preventDefault @onmousedown="() => expandAdmin = !expandAdmin"  Match="NavLinkMatch.Prefix" >@Localizer["MainMenu_Administration"]</NavLink>                            
                    </li>

                </ul>
            </div>
        </div>


        @if (expandAdmin)
        {
            <div class="col-sm-12">
               
                    <ul class="navbar-nav flex-grow-1">
                        <li class="@(NewLocation.Contains("admin/profiles") ? "nav-item-set" : "nav-item")">
                            <a class="nav-link text-light" href="admin/profiles">@Localizer["Menu_Profiles"]</a>
                        </li>
                        <li class="@(NewLocation.Contains("admin/users") ? "nav-item-set" : "nav-item")">
                            <a class="nav-link text-light" href="admin/users">@Localizer["Menu_Users"]</a>
                        </li>
                        <li class="@(NewLocation.Contains("admin/settings") ? "nav-item-set" : "nav-item")">
                            <a class="nav-link text-light" href="admin/settings">@Localizer["Menu_Settings"]</a>
                        </li>
                    </ul>
               
            </div>

        }
        <div class="col-sm-12 text-right">
            <LoginDisplay />
        </div>
           
    </div>
</nav>


@code {

    bool collapseNavMenu = true;
    bool expandAdmin = false;

    string baseMenuClass = " navbar-collapse d-xl-inline-flex ";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    public string NewLocation { get; set; } = "";


    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
