@using Microsoft.JSInterop

@if (Data?.Count > 0)
{
    <div id="AlertBox" class="py-3">
        @foreach (Message msg in Data)
        {
            var i = 0;

            if (String.IsNullOrEmpty(msg.Detail))
            {
                <Collapsable Title="@msg.Short" Style="@(msg.isError ? "alert-danger" : "alert-success")" Collapsed="true"/>
            }
            else
            {
                <Collapsable Title="@msg.Short" Style="@(msg.isError ? "alert-danger" : "alert-success")" Collapsed="true">
                    @msg.Detail                
                </Collapsable>
            }

            i++;

        }
    </div>
}

    
    


@code {
    [Inject] private IJSRuntime IJsRuntime { get; set; }

    [Parameter] public List<Message> Data { get; set; }
   
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await ScrollToElementId("AlertBox");
    }

    protected async Task ScrollToElementId(string id)
    {
        await IJsRuntime.InvokeVoidAsync("scrollToElement", id);
    }
}
