
@if (Data?.Count > 0)
{
    <div class="py-3">
        @foreach (Message msg in Data)
        {
            var i = 0;

            if (String.IsNullOrEmpty(msg.Detail))
            {
                <Collapsable Title="@msg.Short" Style="@(msg.isError ? "alert-danger" : "alert-success")" Collapsed="true"/>
            }
            else
            {
                <Collapsable Title="@msg.Short" Style="@(msg.isError ? "alert-danger" : "alert-success")" Collapsed="true">
                    @msg.Detail                
                </Collapsable>
            }

            i++;

        }
    </div>
}

    
    


@code {

    [Parameter] public List<Message> Data { get; set; }
   
}
