@using Syncfusion.Blazor.Buttons

<div class="">

    <div class="row mt-3 d-flex justify-content-center">
        <div class="col-xl-12">

            @if (Item != null)
            {  
                <div class="row d-flex justify-content-center">
                    <div class="col-md-11  mb-3">

                        <div class="am-form-header mb-3">@AmLocalizer.GetText("AliasDetail_Header")</div>
                        <div class="card am-card-border">
                            <div class="card-body am-card-bg">
                                <div class="row">
                                    <div class="col-sm-3 am-label">@AmLocalizer.GetText("AliasList_Content_Column_Id"):</div>
                                    <div class="col-sm-6">@Item.aliasID</div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-sm-3 am-label">@AmLocalizer.GetText("AliasList_Content_Column_Status"):</div>
                                    <div class="col-sm-6">@AmLocalizer.GetText((@AmEnums.AliasStatusDic[Item.aliasStatusID]))</div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-sm-3 am-label">@AmLocalizer.GetText("AliasList_Content_Column_LicName"):</div>
                                    <div class="col-sm-6">
                                        @if (String.IsNullOrEmpty(Item.LicName))
                                        {
                                            @AmLocalizer.GetText("AliasFilter_License_Uebergreifend");
                                        }
                                        else
                                        {
                                            @Item.LicName;
                                        }
                                    </div>
                                </div>

                                <div class="row mt-1">
                                    <div class="col-sm-3 am-label">@AmLocalizer.GetText("AliasList_Content_Column_HCMProfile"):</div>
                                    <div class="col-sm-6">@Item.hcmProfilName</div>
                                </div>

                                <div class="row mt-1">
                                    <div class="col-sm-3 am-label">@AmLocalizer.GetText("AliasList_Content_Column_CaseId"):</div>
                                    <div class="col-sm-6"><a href="@Item.caseUrl" target="_blank">@AmLocalizer.GetText("AliasFilter_Btn_Submit")</a></div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-sm-3 am-label">@AmLocalizer.GetText("AliasList_Content_Column_Name"):</div>
                                    <div class="col-sm-6">@Item.aliasName</div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-sm-3 am-label">@AmLocalizer.GetText("AliasList_Content_Column_Street"):</div>
                                    <div class="col-sm-6">@Item.aliasAddress</div>
                                </div>

                                <div class="row mt-1">
                                    <div class="col-sm-3 am-label">@AmLocalizer.GetText("AliasList_Content_Column_BelegNr"):</div>
                                    <div class="col-sm-6">@Item.belegNummer</div>
                                </div>
                            </div>

                        </div>
                        <div class="row mt-3">
                        @if (AllowActions)
                        {
                            <AliasDetailsActions OnAliasStatusChange="@(async() => await OnAliasStatusChange.InvokeAsync())" />
                        }                            
                        </div>

                    </div>
                </div>
            }
            else
            {

                <div class="text-center"><em>@AmLocalizer.GetText("Component_Status_LoadingFailed")</em></div>
            }
            
        </div>

    </div>

</div>

@code {

    [Inject] private IAliasManagerLocalizer AmLocalizer { get; set; }


    [CascadingParameter] public AmAlias Item { get; set; }
    [CascadingParameter(Name = "AllowActions")] protected bool AllowActions { get; set; }
    [Parameter] public EventCallback OnAliasStatusChange { get; set; }

}
